@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

html { 
  height: 100%;
}

body {
  color: #e8e6e3;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', 'segoe ui', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}